.text {
  font-family: var(--font-inter);
  font-style: normal;
  margin: 0;
  &--white {
    color: var(--color-white);
  }
  &--black {
    color: var(--color-black);
  }
  &--gray-400 {
    color: var(--color-gray-400);
  }
  &--gray-500 {
    color: var(--color-gray-500);
  }
  &--gray-600 {
    color: var(--color-gray-600);
  }
  &--gray-700 {
    color: var(--color-gray-700);
  }
  &--light-gray {
    color: var(--color-light-gray);
  }
  &--medium-gray {
    color: var(--color-medium-gray);
  }
  &--gray {
    color: var(--color-gray);
  }
  &--dark {
    color: var(--color-dark);
  }
  &--big {
    font-size: responsive 20px 30px;
    font-range: 360px 1440px;
  }
  &--large {
    font-size: responsive 24px 29px;
    font-range: 360px 1440px;
  }
  &--medium {
    font-size: 18px;
  }
  &--normal {
    font-size: 16px;
  }
  &--small {
    font-size: 14px;
  }
  &--tiny {
    font-size: 12px;
  }
  &--w-regular {
    font-weight: normal;
  }
  &--italic {
    font-style: italic;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}