.title {
	font-family: var(--font-bebas);
	font-style: normal;
	margin: 0;
	&--huge {
		font-size: responsive 48px 64px;
		font-range: 375px 1024px;
	}
	&--big {
		font-size: responsive 32px 42px;
		font-range: 375px 1024px;
	}
	&--large {
		font-size: responsive 24px 28px;
		font-range: 375px 1024px;
	}
	&--pre-large {
		font-size: 32px;
	}
	&--medium {
		font-size: 24px;
	}
	&--small {
		font-size: 20px;
	}
	&--tiny {
		font-size: 18px;
	}
	&--dark {
		color: var(--color-dark);
	}
	&--gray-700 {
		color: var(--color-gray-700);
	}
	&--gray {
		color: var(--color-gray);
	}
	&--white {
		color: var(--color-white);
	}
	&--black {
		color: var(--color-black);
	}
	&--w-regular {
		font-weight: 400;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin: 0 0 35px;
}