.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.d-flex-column {
	flex-direction: column;
}

.flex-justify-sb {
	justify-content: space-between;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}

.b-padding-80 {
	padding: var(--padding-block-80);
	@include mobile {
		padding: 48px 0;
	}
}

.b-padding-64 {
	padding: var(--padding-block-64);
}
