:root {
	--container-width: 1470px;
	--container-width-1600: 1630px;
	--container-padding: 15px;

	--font-main: sans-serif;
	--font-bebas: 'BebasNeue', sans-serif;
	--font-inter: 'Inter', sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--link-color: #2F80ED;

	--accent: #3AAFA9;
	--light-green: #DEF2F1;
	--color-gray-400: #98A2B3;
	--color-gray-500: #667085;
	--color-gray-600: #344054;
	--color-gray-700: #475467;
	--color-light-gray: #BDBDBD;
	--color-medium-gray: #333333;
	--color-gray: #4F4F4F;
	--color-dark: #16243E;
	--color-black: #000000;
	--color-white: #fff;

	--color-invalid: #f30707;

	--padding-block-80: 80px 0;
	--padding-block-64: 64px 0;

    --laptop-size: 1199px;
	--tablet-size: 1024px;
	--mobile-size: 768px;

	--hover-time: .250s;
}