//.header {
//	background-color: #c0e4f4;
//	padding: 50px 0;
//
//	&__row {
//		display: flex;
//		justify-content: space-between;
//		align-items: center;
//	}
//}
//
//.header__nav {
//	@include tablet {
//		display: none;
//	}
//}

.header {
	border-bottom: 1px solid #E0E0E0;
	@include tablet {
		border-bottom: none;
		position: sticky;
		top: 0;
		z-index: 101;
		background-color: var(--color-white);
	}
}

.header__top {
	background-color: #FAF6F1;
	padding: 16px 0;
}

.header__top-menu-list {
	font-family: var(--font-inter);
	font-size: 16px;
	font-weight: normal;
	color: var(--color-dark);
}

.header__menu-link,
.header__top-menu-link {
	color: inherit;
	transition: color var(--hover-time) ease;
}

.header__menu-link:hover,
.header__top-menu-link:hover {
	color: var(--accent);
}

.header__main {
	padding: 24px 0;
	gap: 50px;
	@include to(1200px) {
		gap: 25px;
	}
}

.header__main,
.header__bottom {
	@include tablet {
		display: none;
	}
}

.header__actions {
	gap: 12px;
}

.header__form-field {
	position: relative;
}

.header__form-input {
	padding: 16px 16px 16px 24px;
	border: 1px solid #D9DADB;
	background-color: #F8F8F8;
	font-family: var(--font-inter);
	font-size: 14px;
	max-width: 360px;
	width: 100%;
}

.header__form-input::placeholder {
	color: var(--color-light-gray);
}

.header__form-btn {
	position: absolute;
	right: 16px;
	width: 16px;
	height: 16px;
	top: 50%;
	transform: translateY(-50%);
}

.header__form-svg-search {
	fill: transparent;
	stroke: var(--color-light-gray);
}

.header__button {
	padding: 18px 29px 15px;
	letter-spacing: 0.11em;
}

.header__contacts {
	gap: 32px;
	@include tablet {
		flex-direction: column;
		gap: 16px;
	}
}

.header__contact {
	gap: 12px;
}

.header__contact-icon {
	fill: transparent;
	stroke: var(--accent);
}

.header__contact-link {
	font-family: var(--font-inter);
	font-size: 20px;
	font-weight: bold;
	color: var(--color-black);
}

.header__catalog-menu {
	padding: 16px 0;
}

.header__menu-list {
	font-family: var(--font-bebas);
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--color-dark);
}

.header__top-wrap.container {
	@include tablet {
		padding: 0;
	}
}

.header__button-mobile-wrap {
	@include tablet {
		padding: 24px 90px 24px 32px;
		border-bottom: 1px solid #CCD2E3;
	}
}

.header__button-mobile {
	display: none;
	font-family: var(--font-bebas);
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color: white;
	background-color: var(--color-dark);
	padding: 21px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	max-width: 225px;
	width: 100%;
	transition: background-color var(--hover-time) ease;
	@include tablet {
		display: inline-flex;
	}
}

.header__button-mobile-icon {
	fill: transparent;
	stroke: var(--color-white);
}

.header__mobile-bottom {
	display: none;
	@include tablet {
		display: block;
		padding: 24px 32px;
		border-top: 1px solid #CCD2E3;
	}
}

.header__mobile-bottom .header__button {
	margin-top: 16px;
}