.payment-comfort {
  background-color: #F9FAFB;
}

.payment-comfort__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(445px, 1fr));
  gap: 64px;
  @include mobileXS {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.payment-comfort__item {
  padding: 48px 24px;
  border-radius: 8px;
  border: 1px solid #CCD2E3;
}

.payment-comfort__item-icon {
  display: inline-flex;
  background-color: #3AAFA91F;
  border-radius: 50%;
  padding: 12px;
}

.payment-comfort__item-title {
  margin-top: 24px;
}

.payment-comfort__item-description {
  margin-top: 12px;
}