.quality {
  padding-bottom: 90px;
}

.quality__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 48px;
}

.quality__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f6f6f6;
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.quality__item::before {
  position: absolute;
  left: 32px;
  bottom: 0;
  content: attr(data-num);
  font-family: var(--font-bebas);
  font-size: 318px;
  line-height: 0.6;
  font-weight: 700;
  color: var(--color-white);
  z-index: 0;
  user-select: none;
  @include mobile {
    font-size: 240px;
  }
}

.quality__item:nth-child(even)::before {
  left: auto;
  right: 32px;
}

.quality__info {
  position: relative;
  align-self: center;
  padding: 48px;
  @include mobile {
    padding: 24px;
  }
}

.quality__text {
  margin-top: 14px;
}

.quality__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quality__item.quality__item--revers .quality__pic {
  order: -1;
}

.quality__item .quality__pic,
.quality__item.quality__item--revers .quality__pic {
  @include mobile {
    order: -1;
    max-height: 110px;
  }
}