.shipments {
  padding-bottom: 80px;
}

.shipments__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
  gap: 48px 24px;
  @include mobileXS {
    grid-template-columns: 1fr;
  }
}

.shipments__wrap-picture {
  position: relative;
}

.shipments__picture,
.shipments__img,
.shipments__article picture,
.shipments__article img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 208px;
  object-fit: cover;
  filter: grayscale(1);
}

.shipments__arrow {
  display: inline-flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--accent);
  padding: 6px;
  position: absolute;
  right: 19px;
  bottom: 16px;
  transition: transform var(--hover-time) ease;
}

.shipments__article:hover .shipments__arrow {
  transform: translateY(-30px);
}

.shipments__arrow-icon {
  fill: transparent;
  stroke: var(--color-white);
}

.shipments__article:hover .shipments__title {
  color: var(--accent);
}

.shipments__title {
  margin-top: 24px;
  transition: color var(--hover-time) ease;
}

.shipments__date {
  margin-top: 8px;
}

/* Shipments-product*/
.shipments.shipments--product {
  padding-bottom: 0;
}

.shipments.shipments--product .shipments__heading {
  margin-bottom: 32px;
}

.shipments.shipments--product .shipments__action {
  margin-top: 32px;
  text-align: center;
}

.shipments.shipments--product .shipments__button {
  padding: 16px 24px;
}

/* Shipments-catalog */
.shipments.shipments--catalog {
  padding: 80px 0 48px;
  background-color: #F9FAFB;
  border-top: 1px solid #E0E0E0;
}

.shipments__splide-arrows.splide__arrows {
  @include mobile {
    display: none;
  }
}

.shipments__splide-arrow.splide__arrow {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  height: auto;
  width: auto;
}

.splide__arrow .shipments__arrow-icon {
  fill: transparent;
  stroke: var(--color-dark);
  height: 24px;
  width: 24px;
}

.shipments__splide-arrow.shipments__splide-arrow--prev .shipments__arrow-icon {
  transform: rotate(0deg);
}

.shipments__splide-arrow.splide__arrow--next {
  right: -2em;
  @include mobileXS {
    right: 1em;
  }
}

.shipments__splide-arrow.splide__arrow--prev {
  left: -2em;
  @include mobileXS {
    left: 1em;
  }
}

.shipments__splide-pagination.splide__pagination {
  bottom: -50px;
  gap: 14px;
}
.shipments__splide-pagination.splide__pagination .splide__pagination__page.is-active {
  background: var(--accent);
}