.tabs__buttons {
  display: flex;
  gap: 45px;
  margin-bottom: 32px;
  border-bottom: 1px solid #D0D5DD;
}

.tabs__button {
  cursor: pointer;
  padding: 12px 0 16px;
  border-bottom: 3px solid transparent;
  font-size: 26px;
  margin-bottom: -2px;
  transition: color var(--hover-time) ease;
}

.tabs__button.is-active {
  border-bottom: 3px solid var(--accent);
}

.tabs__button:hover {
  color: var(--accent);
}

.tabs__content {
  position: relative;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  height: 0;
  transition: opacity .500s ease-in-out;
  z-index: -1;
}

.tabs__content.is-open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  backface-visibility: visible;
  z-index: 10;
}